@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

.attribution { font-size: 11px; text-align: center; margin-bottom: 5rem; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    /* Font Family */
    --big-shoulders-display-font: 'Big Shoulders Display', cursive;
    --lexend-deca-font: 'Lexend Deca', sans-serif;
    /* Primary */
    --bright-orange-clr: hsl(31, 77%, 52%);
    --dark-cyan-clr: hsl(184, 100%, 22%);
    --very-dark-cyan-clr: hsl(179, 100%, 13%);
    /* Neutral */
    --transparent-white-clr: hsla(0, 0%, 100%, 0.75); /* paragraphs */
    --very-light-gray-clr: hsl(0, 0%, 95%); /* background, headings, buttons */
}

body {
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    /*
    padding: 0 .5rem;
    */
    margin-top: 5rem;
    padding: 0 .5rem;
}

.row {
    max-width: 960px;
    flex-direction: column;
}

.card__sedans {
    border-radius: 5px 5px 0 0;
    background-color: var(--bright-orange-clr);
}

.card__suvs {
    background-color: var(--dark-cyan-clr);
}

.card__luxury {
    border-radius: 0 0 5px 5px;
    background-color: var(--very-dark-cyan-clr);
}

.card__title {
    color: var(--very-light-gray-clr);
    font-size: 2.5rem;
    font-family: var(--big-shoulders-display-font);
}

.card__paragraph {
    line-height: 1.8;
    color: var(--transparent-white-clr);
    font-family: var(--lexend-deca-font);
}

.card__btn {
    cursor: pointer;
    margin-top: .5rem;
    padding: .8em 2em;
    font-family: var(--lexend-deca-font);
}

.sedans_btn {
    color: var(--bright-orange-clr);
}

.suvs_btn {
    color: var(--dark-cyan-clr);
}

.luxury_btn {
    color: var(--very-dark-cyan-clr);
}

@media screen and (min-width: 480px) {
    main {
        padding: 0 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    main {
        margin-top: 0;
        padding: 0;
    }

    .row {
        max-width: 960px;
        flex-direction: row;
    }

    .card__sedans {
        border-radius: 5px 0 0 5px;
    }

    .card__luxury {
        border-radius: 0 5px 5px 0;
    }

    .card__btn {
        margin-top: 4rem;
    }

    .attribution {
        margin-bottom: 0;
    }
}

